.bgimg {
    background-image: url('/images/bgimg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.padx{
    padding-left: 150px;
    padding-right: 150px;
}
button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #7FB8CB, #5D91A9);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
button:hover {
    width: 160px;
    display: flex;
    justify-content: space-evenly;
}
.next-button {
    text-align: center;
    color: #fff;
    cursor: pointer;
}